<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cart demo</title>
  </head>
  <body>
    <h2>Cart:</h2>
    <form action="/" method="POST">
      <input type="text" name="new_item" required />
      <button type="submit" name="add_items">Add Item</button>
    </form>
    <form action="/" method="POST">
      <ul>
        {% for item in itemList %}
        <li>
          {{ item.name }}
          <input
            type="checkbox"
            name="selected_items"
            value="{{ item.name }}"
          />
        </li>
        {% endfor %}
      </ul>
      <button type="submit" name="delete_items">Delete Selected Items</button>
    </form>
  </body>
</html>
